

table {
    margin-left: auto;
    margin-right: auto;
    font-size: 10px;
    width: 100%;
    table-layout:fixed;
}
th{
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    
}
td {
    height:35px;
}
/* 
tr#test1{
        display: flex;

        border: 1px solid black;
        text-align: center;
        padding: 10px;
        width: 197%;
    
} */
td#four{
    width:200%
}

td,tr {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}



  
  


body {
    background-color: red;
}


h1 {
    color:blue;
    font-size: 10px;
}
